
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative; }

#chat-messages {
  max-height: calc(100% - 120px); 
  padding: 10px;
  background-color: #07070f;
  overflow-y: auto;
  position: relative; 
}

#input-container {
  background-color: #07070f;
  padding: 10px;
  position: sticky; /* Change to sticky positioning */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1; /* Set a higher z-index to ensure it's above messages */
}

#input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

#submit {
  padding: 10px 20px;
  background: #555;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
